<div class="container-fluid container1 " style="background: #f6f6f6;padding-bottom: 50px;">
    <!-- ================================================================================================================== -->
    <section class="banner">
        <img src="/assets/images/donation_banner.jpg" class="img-responsive">
    </section>

    <!-- ================================================================================================================== -->
    <section class="donation-page">
        <div class="col-md-7 donation-para">
            <h3>Why Donate?</h3>
            <h4>Giving To Make A Difference</h4>
            <p>The actual value of one's life can be measured by how beautifully one has impacted someone else's
                life. With the same notion, we feel that a small contribution from you can go a long way in
                serving India's most marginalised children by ensuring they go to school and have access to
                learning sources.
            <p>
                We cannot do the impactful work we are doing and plan to expand our base of services without
                your support, and it'll need everyone to come together to ensure happier and learning childhoods
                for children everywhere!</p>
            <ul>
                <li>
                    ● &nbsp;&nbsp; We appreciate all our efforts are made possible only because of your support.
                </li>
                <li>
                    ● &nbsp;&nbsp; Your donations are tax exempted under 80G of the Indian Income Tax Act.</li>
                <li>
                    ● &nbsp;&nbsp; Your donation transactions are completely safe &amp; secure.</li>
            </ul>
        </div>
        <div class="col-md-4 donation-form-box">
            <div  class="donation-form">
                <p>You can make a big difference to their lives! <img src="/assets/images/donation_dots.png" class="img-responsive"></p>
            </div>
            <div class="from_donation" >
                <form >
                    <label class="lable_from">Enter an amount to donate</label><br>
                    <input type="number" name="amount" id="amt" placeholder="Rs." required="">
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control" id="location" name="location" required="">
                                <option value="">Location*</option>
                                <option value="Within India">Within India</option> 
                                <option value="Outside India">Outside India</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="citizenship" name="citizenship" required="">
                                <option value="">Citizenship*</option>
                                <option value="Indian Citizen">Indian Citizen</option> 
                                <option value="Non Resident Indian">Non Resident Indian</option> 
                                <option value="Foreign Citizen">Foreign Citizen</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <select class="form-control" id="title" name="title" required="">
                                <option value="">Title*</option>
                                <option value="Miss">Miss</option> 
                                <option value="Mrs.">Mrs.</option> 
                                <option value="Mr.">Mr.</option>
                                <option value="Ms.">Ms.</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="first-name" placeholder="First Name*" name="first-name" required="">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="last-name" placeholder="Last Name*" name="last-name" required="">
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Date Of Birth*</label>
                            <input class="form-control" type="date" max="2022-12-23" id="date-of-birth" placeholder="Date Of Birth" name="date-of-birth" required="">
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="email" id="email" placeholder="Email*" name="email" required="">
                        </div> 
                        <div class="col-md-12">
                            <input type="number" class="form-control" id="phone-number" placeholder="Mobile Number*" name="phone-number" required="">
                        </div> 
                        <div class="col-md-12">
                            <input class="form-control" type="text" id="address" placeholder="Address*" name="address" required="">
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="city" placeholder="City*" name="city" required="">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="state" placeholder="State*" name="state" required="">
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="number" id="pincode" placeholder="Pincode*" name="pincode" required="">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="country" placeholder="Country*" name="country" required="">
                        </div> 
                    </div>
                    <div class="from_btn">
                    <input type="submit" name="btn" id="btn" value="Submit" >
                </div>
                </form>

            </div>
        </div>
        <div class="col-md-1"></div>
    </section>
    
    <section class="banner">
        <img src="/assets/images/donation_banner.jpg" class="img-responsive">	
    </section>