<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>COMPUTER CELL</h2>
			<h5 style="line-height: 26px; margin-top: 25px;">The  Computer Cell set by the Board manages and supervises entire IT-related work with all the expertise. The cell has been set up under the initiative of the Secretary of the Board. The prime aim of the cell is the seamless transition towards digitisation of various branches of the Board in a phased manner.</h5>		
			<h5>1. Internet &amp; Online Application Unit.</h5>	
			<h5>2. Software Development and Implementation Unit.</h5>			
			<h5>3. Networking &amp; Maintenance Unit.</h5>
		</div>
    </div>
	</div>
</section>
