
<section class="registration_number_section" >
    <div class="container">
       <div class="row">
           <div class="col-md-4">
           </div>
           <div class="col-md-4"  style="background: #f3f3f3;">
               <h2 style="margin-top: 25px; margin-bottom: 15px; padding: 12px; font-size: 18px;">Date Sheet Form
               </h2>
               <form action="registrationcard.php" target="_blank" method="post">
                   <div class="row">
                    <div class="col-sm-12">
                        <label>Course Name*</label>
                        <select class="form-control" name="crse" required="">
                        <option>Select Class</option>		
                                    
                        <option value="Secondary (10th)">Secondary (10th)</option>
                                    
                        <option value="Senior Secondary (12th)">Senior Secondary (12th)</option>
                         </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Year*</label>
                            <input type="text" class="form-control" name="year" required=""> 
                            </div>
                       <div class="col-sm-6  " >
                           <input type="submit" class="btn btn-success btn-block " target="_blank" value="Submit"
                               name="regsubmit">
                       </div>
                       <div class="col-sm-6">
                           <button type="reset" class="btn btn-warning btn-block" data-dismiss="modal">Reset</button>
                       </div>
                    </div>
               </form> 
           </div>
           <div class="col-md-4">
               
           </div>
       </div>
    </div>
   </section>
   
