<table id="example" class="display dataTable no-footer" cellspacing="0" width="100%" role="grid"
    aria-describedby="example_info">
    <thead>
        <tr style="width: 100%; float: left;" role="row">
            <th style="width: 96%; float: left;" class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1"
                colspan="1" aria-sort="ascending" aria-label="English Name: activate to sort column descending">English
                Name</th>
        </tr>
    </thead>
    <tbody>

        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">10th MEA Apostille Attestation <br><a href="super/unidoc/6284c847548f510th MEA.pdf"
                    target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">12th MEA Apostille Attestation <br><a href="super/unidoc/6284c820864b612th MEA.pdf"
                    target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Ahmedabad University Gujrat <br><a
                    href="super/unidoc/5e3d2e4c5c74bAhmedabad University Gujrat.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Akal University Punjab <br><a
                    href="super/unidoc/5e3d2e678ae5cAkal University Punjab.pdf" target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Al-Karim University Bihar <br><a
                    href="super/unidoc/5e3d2ea1232f0Al-Karim University Bihar.pdf" target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Alliance University Karnataka <br><a
                    href="super/unidoc/5e3d2ebc586d5Alliance University Karnataka.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Amity University Jharkhand <br><a
                    href="super/unidoc/5e3d2eda207c9Amity University Jharkhand.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Amity University Maharastra <br><a
                    href="super/unidoc/5e4fa7ef4cda8Amity University Maharastra.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">ARKA Jain University Jharkhand <br><a
                    href="super/unidoc/5e3d2ef650992ARKA Jain University Jharkhand.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Arunachal University of Stuies Arunachal Pradesh <br><a
                    href="super/unidoc/5e3d2f1759fc4Arunachal University of Stuies Arunachal Pradesh.pdf"
                    target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Assam Down Town University Assam <br><a
                    href="super/unidoc/5e3d2f3ae1f1dAssam Down Town University Assam.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">AURO University Gujrat <br><a
                    href="super/unidoc/5e3d2f578ddf2AURO University Gujrat.pdf" target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Avantika University Madhaya Pradesh <br><a
                    href="super/unidoc/5e3d2f7602b51Avantika University Madhaya Pradesh.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Azim Premji University Karnataka <br><a
                    href="super/unidoc/5e3d2f960582cAzim Premji University Karnataka.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Bennett University Uttar Pradesh <br><a
                    href="super/unidoc/5e3d2fb61de9dBennett University Uttar Pradesh.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Bhabha University Mahya Pradesh <br><a
                    href="super/unidoc/5e3d3001e8753Bhabha University Mahya Pradesh.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Bhartiya Skill Development University Rajasthan <br><a
                    href="super/unidoc/5e3d301db45a6Bhartiya Skill Development University Rajasthan.pdf"
                    target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Bhupal Nobles University Rajasthan <br><a
                    href="super/unidoc/5e3d30388bca7Bhupal Nobles University Rajasthan.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Birla Global University Odisa <br><a
                    href="super/unidoc/5e4fa80e15638Birla Global University Odisa.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">BML Munjal University Haryana <br><a
                    href="super/unidoc/5e3d3ff25f02eBML Munjal University Haryana.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Centurin University of Technology and Management Oria <br><a
                    href="super/unidoc/5e3d30852e288Centurin University of Technologyand Management Oria.pdf"
                    target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Chandigarh University Punjab <br><a
                    href="super/unidoc/5e3d30aa3392fChandigarh University Punjab.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Chitkara University Himachal <br><a
                    href="super/unidoc/5e3d30d364554Chitkara University Himachal.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Chitkara University Punjab <br><a
                    href="super/unidoc/5e3d40749b4deChitkara University Punjab.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">G.L.A. University Uttar Pradesh <br><a
                    href="super/unidoc/5e3d313c5873eG.L.A. University Uttar Pradesh.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">G.L.S. University Gujrat <br><a
                    href="super/unidoc/5e3d31780712fG.L.S. University Gujrat.pdf" target="_blank"> <input type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="odd">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Galgotias University Uttar Pradesh <br><a
                    href="super/unidoc/5e3d3196c54a6Galgotias University Uttar Pradesh.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
        <tr role="row" class="even">

            <td style="text-align: center; width: 100%; float: left; color: #191919; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; min-height: 140px; padding: 20px 0;"
                class="sorting_1">Garden City University Karnataka <br><a
                    href="super/unidoc/5e3d31b298fa1Garden City University Karnataka.pdf" target="_blank"> <input
                        type="button"
                        style="border: 0px; background: transparent; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; color: #27bd27; font-size: 18px; margin-top: 3px;"
                        value="Download"><br><i class="fa fa-download"
                        style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a></td>

        </tr>
    </tbody>
</table>