<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">	
    <h2 style="margin-bottom: 25px;">AFFILIATION BRANCH</h2>				
    <h5 style="margin-left:10px" class="adc">1. Affiliation Branch of the Board accord permission to schools or study centers for opening of class IX and class X.</h5>
    <h5 style="margin-left:10px" class="adc">2. Provide Provisional recognition to schools.</h5>
    <h5 style="margin-left:10px" class="adc">3. Prepares list of affiliated schools or study centers.</h5>														
    </div>
    </div>
    </div>
    </section>
