<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">	
    <h2>Media Unit</h2>								
    <h5 style="margin-left:10px" class="adc">One of the major activities of the NBSE is to make use of modern means of Communication and Educational Technology in distance Education. Audio and Video programmes are significant components of the multi-media packages offered by NBSE for its various courses of study. The audio/video programmes supplement and complement the other modes of learning such as printed self learning materials and personal contact programmes.</h5>					  
    <h5 style="margin-left:10px" class="adc">Functions of Media Unit are as follows:</h5>					  
    <h5 style="margin-left:10px" class="adc">Production of Audio/Video programmes for NBSE learners.</h5>
    <h5 style="margin-left:10px" class="adc">Broadcast and Telecast of Audio/Video programmes on different channels.</h5>
    <h5 style="margin-left:10px" class="adc">To produce Audio/Video Spots for publicity purposes.</h5>
    <h5 style="margin-left:10px" class="adc">To produce Multimedia programmes for NBSE learners.</h5>
    <h5 style="margin-left:10px" class="adc">Duplication of Audio/Video programmes to Audio CDs, VCDs etc., to enrich and reinforce the subject matter given in the study material, provided to the NBSE learners.</h5>
    <h5 style="margin-left:10px" class="adc">Video coverage of important functions/seminars, workshops, etc.</h5>
    <h5 style="margin-left:10px" class="adc">NBSE is planning to setup a Media centre.</h5>												
    </div>
    </div>
    </div>
    </section>