<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">			 
    <h2 style="margin-bottom: 30px;">Minority Cell</h2>							
    <h5 style="margin-left:10px" class="adc">The Minority Cell was created in 2014 to look after the problems of minority communities. The cell plays a vital role in implementing NPE 1986 and Programme of Action (POA) 1992.<br><br>
    
    NBSE has been striving for a long to bring Muslim children within the fold of education through alternative schooling, which is recognised and certified. Minority Cell, therefore, has become a significant instrument of Policy Intervention for the Government of India for improving educational access for Muslim Minorities at the school level in the light of the recommendations of Sachar Committee and Prime Minister - 15 Point Programme. <br><br>
    The Minority Cell of NBSE grants accreditation on relaxed norms especially developed for Minority Institutions. It has helped link traditional educational institutions of Muslims like Madarassa, Maktabs and Darul-Ul-Uloom into mainstream education. The Minority cell conducts periodic Advocacy programmes for grant of accreditation to minority educational institutes. </h5>			
    </div>
    </div>
    </div>
    </section>