<div class="col-sm-12 right-sidebar">

    <div class="imp_pol" style="text-align:center;">News &amp; Press Release</div>
   
    <div >
        <ul class="news_event" style="padding-left: 0px;  height:345px" *ngFor="let data of allNews">
            <li>
                <a href="{{data.file}}" target="_blank">{{data.newsInenglish}} <img src="assets/new1.gif" height="15" width="20"></a>
            </li>
           

        </ul>
    </div>

 

    <div class="student_sec">
        <h5 style="text-align:center;">Students Sections</h5>
        <ul >
            <li><a href="studentresult.php">Result</a></li>
            <li><a href="registrationcardforms.php">Registration Card</a></li>
            <li><a href="admitcardform.php">Admit Card</a></li>
            <li><a href="examportal/index.php" target="_blank">On Demand Exam</a></li>
            <li><a href="textbooksshow.php">Text Books</a></li>
            <li><a href="downloadfromshow.php">Download Forms</a></li>
            <li><a href="samplerpapershow.php">Sample-Paper</a></li>
            <li><a href="putinquiry.php">Put Inquiry</a></li>
        </ul>
    </div>
    <div class="gov_noti" style="text-align:center;">Requirements &amp; Tenders</div>
    <div class="requirements_tenders">
        <ul>
        </ul>
    </div>


    <div class="imp_pol" style="text-align:center;">Download Forms</div>
    <div class="download_forms">
        <ul>
            <marquee direction="up" class="marquee" scrollamount="6" onmouseover="this.stop();"
                onmouseout="this.start();" style="height:400px">

                <li><a href="super/downloadforms/62177550b78c110th Admission form.pdf" target="_blank"> Admission form
                        (Secondary)<img src="images/newicon.gif" height="15"></a></li>

                <li><a href="super/downloadforms/621774f707db212th Admission form.pdf" target="_blank"> Admission form
                        (Intermediate)<img src="images/newicon.gif" height="15"></a></li>

                <li><a href="super/downloadforms/621774d47916bAffiliation Guidelines.pdf" target="_blank"> Affiliation
                        guidelines<img src="images/newicon.gif" height="15"></a></li>

                <li><a href="super/downloadforms/621774bd64f99Affilation form.pdf" target="_blank"> Affiliation form<img
                            src="images/newicon.gif" height="15"></a></li>

                <li><a href="super/downloadforms/621774a6b46d5Disabilty form.pdf" target="_blank"> Disability form<img
                            src="images/newicon.gif" height="15"></a></li>
                <li> <a href="super/downloadforms/621774876438eAdmission Cancellation Policy.pdf" target="_blank">
                        Admission cancellation Policy</a></li>
                <li> <a href="super/downloadforms/621774695f699Change Examination Centre form.pdf" target="_blank">
                        Change of examination center form</a></li>
                <li> <a href="super/downloadforms/6217741e45e02Confidential Result form.pdf" target="_blank">
                        Confidential result form</a></li>
                <li> <a href="super/downloadforms/621773c00f750Duplicate Certificate form.pdf" target="_blank">
                        Duplicate certificate form</a></li>
                <li> <a href="super/downloadforms/62177392563ddSecondary Course Detail.pdf" target="_blank"> Secondary
                        course</a></li>
                <li> <a href="super/downloadforms/621773785b08dSenior Secondary Course.pdf" target="_blank"> Senior
                        secondary course</a></li>
                <li> <a href="super/downloadforms/62177330cfce6Golden Chance form.pdf" target="_blank"> Golden chance
                        form</a></li>
                <li> <a href="super/downloadforms/621772e209afbGuidelines for Exam Center.pdf" target="_blank">
                        Guideline for centre (theory exam)</a></li>
                <li> <a href="super/downloadforms/6217726bb7c9fMigration form.pdf" target="_blank"> Migration form</a>
                </li>
                <li> <a href="super/downloadforms/62177232516bcCorrection from.pdf" target="_blank"> Correction form</a>
                </li>
                <li> <a href="super/downloadforms/6217720dbbde3Rechecking from.pdf" target="_blank"> Re-checking
                        form</a></li>
                <li> <a href="super/downloadforms/621771eb6f19eReevalution form.pdf" target="_blank"> Re-evaluation
                        form</a></li>
                <li> <a href="super/downloadforms/621771d4d166cRequset form (Material).pdf" target="_blank"> Request
                        form for material</a></li>
                <li> <a href="super/downloadforms/621771bc7c94aState Coordinator Application Form.pdf" target="_blank">
                        State coordinate application form</a></li>
                <li> <a href="super/downloadforms/6217717251a3bVerfication Form.pdf" target="_blank"> Verification
                        form</a></li>
            </marquee>
        </ul>
    </div>


</div>