<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1">	
			<h2>ACCOUNTING BRANCH</h2>			
			<h5>Our Accounting Branch deals expeditiously with matters related to finance of the Board-</h5>
			<h5>1. They maintain detailed descriptions of Receipt and Payment of the Board.</h5>
			<h5>2. They maintain records of remuneration paid to the entire staff, including Zonal Supervising Officer, Supervising Officer and Examiners.</h5>
			<h5>3. They monitor and audit the payment towards Employee's Pension, GPF, TA, DA etc.</h5>
			<h5>4. They prepare an annual budget.</h5>
		</div>
        </div>
    </div>
</section>
