<div class="container-fluid container1 " style="background: #f6f6f6;padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-3">

            <app-left-side-bar-content></app-left-side-bar-content>
        </div>
        <!-- =======body====== -->

<!-- {{vipmessage | json}} -->

        <div class="col-sm-6">
            <div class="govt_notification">VIP Message</div>
          <div class="row">

		
		<div class="col-md-4"  *ngFor="let item of  vipmessage,let a=index">
			<div style="background: #fff; padding: 12px;">
			<img src="{{fileUrl}}{{item.file}}" alt="Not Available" style="width:100%; max-height: 210px;" align="left">
            <p style="display: inline-block;font-weight: 500;font-size: 14px;margin-top: 15px;">{{item.nameInEnglish}}</p>
            </div>
		</div>



		  
				</div>

        </div>
        <!-- =======/body====== -->
        <div class="col-md-3">
            <app-right-side-bar-contant></app-right-side-bar-contant>
        </div>
    </div>
</div>