<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1">	 
			<h2>EXAMINATION BRANCH</h2>			
			<h4 style="padding-left: 30px; margin-bottom: 10px;">The examination Branch is a vital one as it deals with the assessment and evaluation of the performance of students. The examination branch does the following activities-</h4>	
			<h5>1. Conduct Secondary/Senior secondary Examinations</h5>		
			<h5>2. Prepare and distribute question papers related to Secondary/Sr. Secondary examination.</h5>
			<h5>3. Finally, declare the results of the concerned examination maintaining complete transparency.</h5>	
		</div>
        </div>
	</div>
</section>