<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">	
    <h2>Administration Unit</h2>						
    <h5 style="margin-left:10px" class="adc">The Administration Unit is one of the most critical departments of the National Board of School education. Our Administrative unit superbly handles all administrative functions such as preparing budgets, policies, and contracts. They keep a regular check on printing course materials and catalogues, maintenance of computer data, long-range planning, and maintaining inventories of equipment. They ensure the smooth functioning of all other departments as well.</h5>
    </div>
    </div>
    </div>
    </section>
