<div class="container-fluid" style="background-color:#f3efef">
    <div class="row">
        <section class="top_bar"
            style="background-image:url(assets/images/top_bar.png);background-repeat: no-repeat;background-size: 100%;width: 100%;">
            <!-- <h2>Hello</h2> -->
            <div class="container-fluid container-first">
                <div class="row first_row">
                    <div class="col-md-5 first_top">
                        <div class="size_group">
                            <a href="#">A-</a>
                            <a href="#">A</a>
                            <a href="#">A+</a>
                            <span>12:44:pm</span>

                        </div>
                        <ul>
                            <li><a href="tel:8820000001">+91-931-0800-091</a></li>
                            <li><a href="mailto:info@nbse.in">info@nbse.in</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 offset-2  second_top">
                        <ul>
                            <li><a href="onlineadmission.php">Apply Online Admission</a></li>
                            <li><a href="indexhindi.php"
                                    style="margin-left:3px;margin-right:3px;border-left:1px solid white;border-right:1px solid white;padding-right:3px;padding-left:2px">हिंदी</a>
                            </li>
                            <li><a href="index.php">English</a></li>
                        </ul>
                        <h6 class="dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login<b
                                    class="caret"></b></a>
                            <ul class="dropdown-content">
                                <li><a href="http://localhost:4203/" target="_blank">Staff Login</a></li>
                                <li><a href="center/" target="_blank">Centre Login</a></li>
                                <li><a href="http://localhost:4202/" target="_blank">Student Login</a></li>
                            </ul>
                        </h6>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="assets/images/english_logo.png" style=" max-width: 100%;height: auto;" class="img-fluid">
        </div>
        <div class="col-md-5 links">
            <a href="#">Swach Bahrat Mission</a>
            <a href="#">Requirements & Tenders</a>
            <a href="#">HOD</a>
            <a href="#">Ex. Employe Detail</a>
        </div>
        <div class="col-md-2">
            <img src="assets/images/right_logo.png" style=" max-width: 100%;height: auto;" class="img-fluid">
        </div>
    </div>
</div>

<!-- nav bar by abhi start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>


                <li class=" nav-item dropdown show">
                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">About us<b
                            class="caret"></b></a>
                    <ul class="dropdown-content " >
                        <li><a id="color-a" routerLink="/board-profile">Board Profile</a></li>
                        <li><a routerLink="/chairmane-message">Chairman Message</a></li>
                        <li><a routerLink="/board-vision">Board Vision &amp; Mission</a></li>
                        <li><a routerLink="#"> Global Tie_Ups</a></li>
                        <li><a routerLink="/vipmessage">VIP's Messages</a></li>
                        <li><a routerLink="/govnotification"> Govt. Notifications</a></li>
                        <li><a routerLink="/cobse">COBSE &amp; MHRD</a></li>
                        <li><a routerLink="/important-approvals">Important Approvals</a></li>
                    </ul>

                </li>
                <li class=" nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Downloads<b
                            class="caret"></b></a>
                    <ul class="dropdown-content">
                        <li><a routerLink="/forms">Forms</a></li>
                        <li><a routerLink="/registration-card">Registration card</a></li>
                        <li><a routerLink="/admitcard">Admit card</a></li>
                        <li><a routerLink="/text-book"> Text Books</a></li>
                        <li><a routerLink="/sample-paper">Sample Paper</a></li>
                        <li><a routerLink="/syllabus">Syllabus</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/datesheet">Datesheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/propectus">Prospectus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4202/" target="_blank">On Demand Exam</a>
                </li>


                <li class=" nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Course<b class="caret"></b></a>
                    <ul class="dropdown-content">
                        <li><a routerLink="/secondary-course">Senior Courses</a></li>
                        <li><a routerLink="/senior-secondary-course">Senior Secondary Courses</a></li>
                    </ul>

                </li>
                <li class=" nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Branches<b
                            class="caret"></b></a>
                    <ul class="dropdown-content">
                        <li><a routerLink="/academic-branch">Academic Branch</a></li>
                        <li><a routerLink="/examination-brach">Examination Branch</a></li>
                        <li><a routerLink="/computer-cell">Computer Cell</a></li>
                        <li><a routerLink="/legal-cell">Legal Cell</a></li>
                        <li><a routerLink="/accounting-branch">Account Branch</a></li>
                        <li><a routerLink="/affiliation-branch">Affiliation Branch</a></li>
                        <li><a routerLink="/vocational-education">Vocational Education</a></li>
                        <li><a routerLink="/media-unit">Media Unit</a></li>
                        <li><a routerLink="/minority-cell">Minority Cell</a></li>
                        <li><a routerLink="/verification-branch">Verification Branch</a></li>
                        <li><a routerLink="/admistration-unit">Administration Unit</a></li>
                        <li><a routerLink="/printing-branch">Printing Branch</a></li>
                        <li><a routerLink="/">Certificate Unit</a></li>
                        <li><a routerLink="/">Establishment Branch</a></li>
                    </ul>
                </li>
                <li class=" nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Usefull Links<b
                            class="caret"></b></a>
                    <ul class="dropdown-content">
                        <li><a href="https://www.ugc.ac.in/" target="_blank"> UGC </a></li>
                        <li><a href="http://mhrd.gov.in/" target="_blank"> MHRD </a></li>
                        <li><a href="http://www.pmindia.gov.in/en/" target="_blank">PMO india</a></li>
                        <li><a href="https://www.nsdcindia.org/" target="_blank">NSDC</a></li>
                        <li><a href="https://www.aicte-india.org/" target="_blank"> AICTE</a></li>
                        <li><a href="https://www.aiu.ac.in/" target="_blank">AIU</a></li>
                        <li><a href="http://www.nios.ac.in/" target="_blank">NIOS</a></li>
                        <li><a href="http://www.mea.gov.in/" target="_blank">MEA</a></li>
                        <li><a href="http://www.cobse.org.in/" target="_blank">COBSE</a></li>
                        <li><a href="http://www.neb.gov.np/" target="_blank">NEB NEPAL</a></li>
                        <li><a href="https://jkbose.nic.in/" target="_blank">JKBOSE</a></li>
                        <li><a href="http://cbse.nic.in/newsite/index.html" target="_blank">CBSE</a></li>
                        <li><a href="http://digitalindia.gov.in/" target="_blank">DIGITAL INDIA</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/putquary">Put Inquiry</a>
                </li>
                <li class=" nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Contact us<b
                            class="caret"></b></a>
                    <ul class="dropdown-content">
                        <li><a routerLink="/head-office">Head Office</a></li>
                        <li><a routerLink="/study-center">Study Centres</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a routerLink="/donation" style="padding-bottom: 0px;padding-right: 0px;"><img
                            src="assets/images/donation.gif" style="max-width: 91px; margin-top: 7px;"
                            alt="donation"></a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- nav bar by abhi end -->



<section class="marque_section">
    <div class="container">
        <marquee width="100%" direction="left">
            <h6><img src="assets/images/new_p.png" style="max-width: 100%">&nbsp;&nbsp;&nbsp;Public Notice :- Admission
                Open for the Secondary &amp; Senior Secondary for the academic session 2022-23&nbsp;&nbsp;&nbsp;<img
                    src="assets/images/new_p.png" style="max-width: 100%"></h6>
        </marquee>
    </div>
</section>