<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>ACADEMIC BRANCH</h2>		
			<p style="font-weight: 500; font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; padding: 20px 30px;padding-bottom: 0px;">The Academic Branch is considered to be the essential branch of the National Board of School Education. Its vitality is because this branch develops education programmes and courses that allow and stimulate the minds of young learners to pursue the path of learning of their choice. </p>				
			<h5>The highly esteemed Academic Branch deals with the following academic activities of the Board-</h5>			
			<h5>1. Constant Review preparation and evaluation of Textbooks, Teaching Methods and Curriculum.</h5>			
			<h5>2. Assessment and review of current Teachers' Training methods and devising new ways of teaching as per different age groups.</h5>		
			<h5>3 Preparing and designing of Academic Calendar at the starting of the academic year and evaluating the performance at the end of the year.</h5>
		</div>
        </div>
	</div>
</section>
