
<section class="registration_number_section" >
 <div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4"  style="background: #f3f3f3;">
            <h2 style="margin-top: 25px; margin-bottom: 15px; padding: 12px; font-size: 18px;">Registration Number
            </h2>
            <form action="registrationcard.php" target="_blank" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Name</label>
                        <input type="text" class="form-control" name="stu_name" placeholder="exp. Ram Kumar"
                            required="" [(ngModel)]="insertData.name">
                    </div>
                    <div class="col-sm-12">
                        <label>Father Name</label>
                        <input type="text" class="form-control" name="f_name" placeholder="exp. Sham Kumar"
                            required=""  [(ngModel)]="insertData.fathername"> 
                    </div>
                    <div class="col-sm-12">
                        <label>DOB</label>
                        <input type="text" class="dob form-control" name="d_o_b" required=""
                            placeholder="Date Of Birth" [(ngModel)]="insertData.dateofbirth">
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-success btn-block" target="_blank" value="Submit"
                            name="regsubmit"  (click)="insertdata()">
                    </div>
                    <div class="col-sm-6">
                        <button type="reset" class="btn btn-warning btn-block" data-dismiss="modal">Reset</button>
                    </div>
                 </div>
            </form> 
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
 </div>
</section>
