<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1">	
			<h2>LEGAL CELL</h2>
			<!-- <h5 style="font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; line-height: 33px; margin-top: 30px; color: #191919;">This Cell deals with all legal matters related to the North East National Board of School Education Receiving and disposing of the summons, establishing procedure for appointment of advocates and attending the cases in the courts and finally establishing procedure for complying with the orders/judgments passed by the courts, are the main functions of this Branch.</h5> -->

			<h5 style="font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; line-height: 33px; margin-top: 30px; color: #191919;">A Legal Cell is essential in ensuring that a company or establishment properly discharges its business affairs. Its members vigorously strive to safeguard its interest concerning all parties, whether within or outside the company. <br>The Board's Legal Cell deals with all legal matters related to the National Board of School Education. Our highly diligent team of legal experts receive and dispose of the summons expeditiously. We have a trustworthy team that establishes a procedure for the appointment of advocates who attend and contest the cases in the courts. Finally, select a process for complying with the orders/judgments passed by the courts.</h5>
		</div>
    </div>
	</div>
</section>