<div class="container-fluid container1 " style="background: #f6f6f6;padding-bottom: 50px;">
    <div class="row form">
        <div class="form-left">
            <div class="logo">
                <img src="/assets/images/logo_exam_down.png" >
            </div>
            <div class="middle">
                <h4>NBSE Exam Portal</h4>
                <p>Student Exam Login</p>
            </div>
            <form class="input_from">
                <div class="form-input">
                    <input type="hidden" name="" placeholder="Enter Name" required="">
                </div>
                <div class="form-input">
                    <input type="text" style="margin-bottom: 12px;" name="regno" id="regno" placeholder="Enter User ID "
                        required="">
                </div>
                <div class="form-input">
                   
                    <input type="text" name="rlno" id="rlno" placeholder="Enter Roll Number " required="">
                </div>

                <label class="container">
                    <input type="checkbox" id="two">
                    <a target="_blank" style="color: #BDBDBD;"> I agree to Conditions of Use and Privacy</a>
          
                </label>
                <label class="container">
                    <input type="checkbox" id="two">
                    <a target="_blank" style="color: #BDBDBD;"> I agree to Exam Instraction</a>
                </label>
                <button type="submit" class="btn btn-success login-btn">Login Here</button>
            </form>
            <div class="copy-right text-center">
                <p>© 2020 All rights reserved
                    <a href="http://tuespotsolutions.com/" target="_blank">Tuespot Solutions.com</a></p>
             </div>
        </div>
        <div class="form-right">
            <article>
                <a target="_blank" href="https://nbse.in/" class="read-more-1 btn">National Board OF School Eduction
                </a>
                <p>
                    Education is the bend point for every living being to transcend their limitations. It is a
                    well-known fact that many children in India are not getting the proper education. There are various
                    reasons for this disparity in education between the privileged and the underprivileged. To bridge
                    this gap, great charitable organizations, NGOs, boards such as NBSE are making it possible for the
                    gifted and hardworking young minds to get great educational opportunities that they never had
                    before.
                </p>
                <p>
                    Since its inception in 2019, NBSE has become the torchbearer of giving good education opportunities
                    with the 'Education For All' motto. We aim to achieve the welfare of every child through proper
                    education as currently, there are more than 57 million children who do not know what it's like to
                    step inside a classroom as they don't have access to the schools. NBSE has already taken steps to
                    pave the way for education by ensuring free education to brilliant young minds by providing them
                    with books, all kinds of learning resources, and access to schools nearby to their homes.
                </p>
                <p>
                    The whole purpose is to unite the entire country through education by giving a platform to the
                    underprivileged, weaker section who may have fewer resources but have the spirit to achieve success
                    in life.
                </p>
            </article>
        </div>
    </div>
</div>
