
<div class="container-fluid container1">
    <div class="row">
        <div class="col-md-3">
            <app-left-side-bar-content></app-left-side-bar-content>
        </div>
       
            <div class="col-sm-6 inner_page hod_page">	
                <h2>Head Of Department</h2>
                                
                  
                    <div class="hod_box" >
                        <h3 class="text-center">EXAMINATION BRANCH</h3>
                        <div class="row">									
                        <div class="col-sm-4">	
                        <label>Mr. Ramesh Kumar,<br>Examination Controller</label>
                        </div>
                                                        
                        <div class="col-sm-4">
                            <label>examinationcell@nbse.in</label><br>
                            <label>01922-256548</label>
                        </div>
                        </div>		
                    </div>							
<!--                           
                    <div class="hod_box">
                        <h3 class="text-center">ACADEMIC BRANCH</h3>
                        <div class="row">									
                        <div class="col-sm-4">	
                        <label>Mr. Abhey Mishra,<br>Superintendent</label>
                        </div>
                                                        
                        <div class="col-sm-4">
                            <label>academicbranch@nbse.in</label><br>
                            <label>01922-256549</label>
                        </div>
                        </div>		
                    </div>							
                          
                    <div class="hod_box">
                        <h3 class="text-center">COMPUTER BRANCH</h3>
                        <div class="row">									
                        <div class="col-sm-4">	
                        <label>Mrs. Kamaya Singh,<br>Superintendent (CC)</label>
                        </div>
                                                        
                        <div class="col-sm-4">
                            <label>computerbranch@nbse.in</label><br>
                            <label>01922-256510</label>
                        </div>
                        </div>		
                    </div>							
                          
                    <div class="hod_box">
                        <h3 class="text-center">LEGAL CELL</h3>
                        <div class="row">									
                        <div class="col-sm-4">	
                        <label>Mr. Raj Kumar,<br>Legal Advisor</label>
                        </div>
                                                        
                        <div class="col-sm-4">
                            <label>legalcell@nbse.in</label><br>
                            <label>01922-256511</label>
                        </div>
                        </div>		
                    </div>							
                          
                    <div class="hod_box">
                        <h3 class="text-center">VERIFICATION BRANCH</h3>
                        <div class="row">									
                        <div class="col-sm-4">	
                        <label>Mr. Hari Krishan,<br>Superintendent</label>
                        </div>
                                                        
                        <div class="col-sm-4">
                            <label>verificationbranch@nbse.in</label><br>
                            <label>01922-256512</label>
                        </div>
                        </div>		
                    </div>							
                          
                    <div class="hod_box">
                        <h3 class="text-center">AFFILIATION BRANCH </h3>
                        <div class="row">									
                        <div class="col-sm-4">	
                        <label>Mrs. Mona Nadha,<br>Superintendent</label>
                        </div>
                                                        
                        <div class="col-sm-4">
                            <label>affilationbranch@nbse.in</label><br>
                            <label>01922-256513</label>
                        </div>
                        </div>		
                    </div>							
                          
                    <div class="hod_box">
                        <h3 class="text-center">MEDIA UNIT</h3>
                        <div class="row">									
                        <div class="col-sm-4">	
                        <label>Mrs. Kastorba Khan,<br>Media Advisor</label>
                        </div>
                                                        
                        <div class="col-sm-4">
                            <label>mediacell@nbse.in</label><br>
                            <label>01922-256514</label>
                        </div>
                        </div>		 -->
                  						
                                                    
                
                <!-- </div> -->
        </div>
        <div class="col-md-3">
<app-right-side-bar-contant></app-right-side-bar-contant>
        </div>
    </div>
</div>