
<div class="container-fluid container1 "  style="background: #f6f6f6;padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-3">
          
        </div>
        <div class="col-md-6" >
            <h2>Propectus</h2>	
            <div class="row download_form">	
             <div class="col-md-4" style="margin-bottom: 15px;">
            <div style="background: #fff; padding: 20px 10px;" *ngFor="let data of showdata">
            <p style="min-height: 40px;">{{data.title}}</p>
            <a href="super/downloadforms/6396b113c5a8bwp-root.php" target="_blank" style="background: transparent; padding: 7px 0px; color: #27bd26;  font-size: 13px;">{{data.file}}<br><i class="fa fa-download" style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a>
            </div>
            </div>
             <div class="col-md-4" style="margin-bottom: 15px;">
            </div>
             <div class="col-md-4" style="margin-bottom: 15px;">
            </div>
    </div>
        
        <div class="col-md-3">
          
        </div>
    </div>
    </div>

