<!-- Footer -->
<footer class="text-white footer" style="background-color:#071520">
    <!-- Section: Social media -->

    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="pt-4">
        <div class="container-fluid mt-5">
            <!-- Grid row -->
            <div class="row mt-3 text-uppercase">
                <!-- Grid column -->
                <div class="col-md-2">
                    <img src="assets/images/footer_logo.png">
                </div>
                <div class="col-md-3 ">
                    <h3>Useful Links</h3>
                    <a href="https://www.ugc.ac.in/">UGC</a>
                    <a href="http://mhrd.gov.in/">MHRD</a>
                    <a href="http://www.pmindia.gov.in/en/">PMO India</a> <br>
                    <a href="https://www.nsdcindia.org/">NSDC</a>
                    <a href="https://www.aicte-india.org/">ACITE</a>
                    <a href="http://www.aiu.ac.in/index.asp">AIU</a>
                    <a href="http://www.nios.ac.in/">NIOS</a><br>
                    <a href="http://www.mea.gov.in/">MEA</a>
                    <a href="http://www.cobse.org/">COBSE</a>
                    <a href="http://www.neb.gov.np/">NEB NEPAL</a><br>
                    <a href="http://jkbose.jk.gov.in/">jkbose</a>
                    <a href="http://cbse.nic.in/newsite/index.html">CBSE</a>
                    <br>
                    <a href="http://digitalindia.gov.in/">digital india</a>
                </div>
                <div class="col-md-3">
                    <h3>Address </h3>
                    <p>
                        <i class="fa fa-map-marker mr-2" aria-hidden="true" style="font-size:20px"></i>National Board of
                        school Education
                        Village - Reshipora Athoora, P.O - Kreeri Tehsil - Kreeri
                        District - Baramulla, Jammu & Kashmir - 193198
                    </p>
                </div>
                <div class="col-md-4">
                    <h3> Contact </h3>
                   
                        <p>
                            <i class="fa fa-phone-square mr-2" aria-hidden="true"></i>91-931-0800-091
                        </p>
              
                 
                        <p class="text-lowercase"> <i class="fa fa-envelope mr-2" aria-hidden="true"></i>info@nbse.in
                        </p>

                        <ul class="footer-list">
                            <li><i class="fa fa-facebook mr-2" aria-hidden="true"></i></li>
                            <li> <i class="fa fa-instagram mr-2" aria-hidden="true"></i></li>
                            <li> <i class="fa fa-twitter mr-2" aria-hidden="true"></i></li>
                            <li> <i class="fa fa-linkedin mr-2" aria-hidden="true"></i></li>
                        </ul>
                </div>
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2022 Copyright:
        <i class="fa fa-heart" aria-hidden="true"></i> <a class="text-reset fw-bold" href="https://mdbootstrap.com/">TuespotSolutions.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->