<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
    <div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">	
    <h2>Printing Branch</h2>											
    <h5 style="margin-left:10px" class="adc">In this fast-paced digital age, office printers and hard copies are still necessary for all departments' success and smooth operations. <br>
    The printing branch at NBSE order deals with all printing matters related to the NBSE's official correspondence
    </h5>
    </div>
    </div>
    </div>
    </section>