<section class="scendorycourses" style="background: #f6f6f6; padding-bottom: 60px;">
	<div class="container">
		<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>Verification Branch</h2>
			<div class="row txtpad">
			<h5 style="margin-left:10px" class="adc">The main function of the Verification Branch is to verify the documents of candidates received form various department or from any other institution. Board will charge the prescribed fee for the verification of documents. </h5>		  
			<h5 style="margin-left:10px" class="adc">Note :<br>1. Verification on phone &amp; E-mail will not be entertained.</h5>
			<h5 style="margin-left:10px" class="adc">2.Documents Verification Fee (In India)- 1100/-             Documents Verification Fee (In Outside India) - 2100/-</h5>				
			</div>
		</div>
</div>
</div>
</section>
