<div class="container main_container">
    <div class="row">
    <div class="col-md-12 col-md-offset-1 scendorycourses">
    <h2>Senior Secondary Course</h2>
    <div class="content_pdd">
    <h4>Senior Secondary Course</h4>
    <p>Secondary school education is essential for every student, not only because it takes you up the ladder of education, but it is also an accomplishment that opens the horizons of freedom.</p>
    <p>This course has been designed for those who have passed the Xth standard or equivalent examination from a recognised Board and would like to continue their education towards a Senior Secondary Certification, equivalent to XII standard.</p>	
    <p>The students can easily choose subjects from the Scheme of Studies given in the below table-. However, you will be required to complete a minimum of six subjects with at least one language or at most two languages, which is compulsory for certification.</p>
    </div>					
    <div class="course_secondary_bth">
    <h6>Course</h6>
    <h6><a href="coursesubjectpdf/Secondary Course Detail.pdf" target="_blank" class="btn btn-primary" style="background-color:#4385f5">Senior Secondary </a></h6>
    </div>               
    <h3>Subjects Offered</h3>
    <table class="datatable">
        <tbody><tr class="tablehead">
            <th class="srno">Sr. No</th>
            <th class="code_subject">Code</th> 
            <th class="code_subject">Subject</th>
        </tr>
        <tr>
        <td class="srno">1</td>
        <td class="code_subject">S301</td>
        <td class="code_subject">HINDI</td>
        </tr>	
            
        <tr>
        <td class="srno">2</td>
        <td class="code_subject">S303</td>
        <td class="code_subject">ENGLISH</td>
        </tr>	
            
        <tr>
        <td class="srno">3</td>
        <td class="code_subject">S321</td>
        <td class="code_subject">SCIENCE</td>
        </tr>	
            
        <tr>
        <td class="srno">4</td>
        <td class="code_subject">S322</td>
        <td class="code_subject">SOCIAL SCIENCE</td>
        </tr>	
            
        <tr>
        <td class="srno">5</td>
        <td class="code_subject">S323</td>
        <td class="code_subject">MATHEMATICS</td>
        </tr>	
            
    </tbody>
</table>				
    </div>

