<div class="container-fluid container1 "  style="background: #f6f6f6;padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-3">
            <app-left-side-bar-content></app-left-side-bar-content>
        </div>
 <!-- =======body====== -->
 <div class="col-sm-6">
		
    <div class="welcome_about" id="myBtn23">
    <h4>Building The <b>Future That Holds Great Opportunities</b></h4>
    
    <p style="margin-top:30px">Education is the bend point for every living being to transcend their limitations. It is a well-known fact that many children in India are not getting the proper education. There are various reasons for this disparity in education between the privileged and the underprivileged. To bridge this gap, great charitable organizations, NGOs, boards such as NBSE are making it possible for the gifted and hardworking young minds to get great educational opportunities that they never had before.<br><br>
    Since its inception in 2019, NBSE has become the torchbearer of giving good education opportunities with the 'Education For All' motto. <span id="dots">..</span><span id="more_about"> We aim to achieve the welfare of every child through proper education as currently, there are more than 57 million children who do not know what it's like to step inside a classroom as they don't have access to the schools. NBSE has already taken steps to pave the way for education by ensuring free education to brilliant young minds by providing them with books, all kinds of learning resources, and access to schools nearby to their homes.<br><br> The whole purpose is to unite the entire country through education by giving a platform to the underprivileged, weaker section who may have fewer resources but have the spirit to achieve success in life.</span> <span onclick="myFunction()" id="myBtn">Read more</span></p>	
    </div>			
    <div class="counter">			
    <div class="row">
    <div class="col-md-3">
    <h3>6</h3>
    <h5>Regions</h5>
    </div>
    <div class="col-md-3">
    <h3>33</h3>
    <h5>Study Centers</h5>
    </div>
    <div class="col-md-3">
    <h3>282</h3>
    <h5>Employees</h5>
    </div>
    <div class="col-md-3">
    <h3>48370</h3>
    <h5>Students</h5>
    </div>
    
    
    </div>
    </div>
    
    <div class="row three_color">
    <div class="col-md-4 pink_color">
    <img class="img-responsive" src="assets/images/first_color.png">
    <h4>Women Empowerment</h4>
    <p>Learn about NBSE’s contribution towards the social economic  development of women through various women-oriented programmes.</p>
    </div>
    <div class="col-md-4 sky_color">
    <img class="img-responsive" src="assets/images/second_color.png">
    <h4>Facilities for Education</h4>
    <p>Creating awareness in the higher education system and providing necessary guidance &amp; counselling to differently-abled people.</p>
    </div>
    <div class="col-md-4 green_color">
    <img class="img-responsive" src="assets/images/three_color.png">	
    <h4>Research For Education</h4>
    <p>Explore various India-centric and other research funds and the way to avail of them.</p>
    </div>
    </div>	
    <div class="abdul-ajp">
    <div class="row">
    <div class="col-md-7">
    <h4>Unforgettables <span>Messages</span></h4>
    <p>“We should not give up and we should not allow the problem to defeat us.”</p>
    <h6>- A. P. J. Abdul Kalam</h6>
    </div>
    <div class="col-md-5">
    <img class="img-responsive" src="assets/images/apj_img.jpg">	
    </div>
    </div>
    </div>	
    <div class="our-mission">
    <div class="row">
    <div class="col-md-12">
    <h4>Our <span>Mission</span></h4>
    <p>We aim to educate the needy and the deserving ones for our society through our commitment to the transformative power of laying a solid foundation of education. We are here to educate at all levels for the benefit of all.</p>
    </div>
    </div>
    </div>	
    
    <div class="govt-logo">
    <div class="row">
    <div class="col-md-6">
    <a href="https://www.india.gov.in/" target="_blank"><img class="img-responsive" style="width: 250px;margin: 0 auto;" src="assets/images/indiagovin.png"></a>
    </div>		
    <div class="col-md-6">
    <a href="rtiact.php"><img class="img-responsive" style="width:110px;margin: 0 auto;" src="assets/images/rtilogo.png"></a>
    </div>		
    </div>	
    <a href="donation.php" class="donate_btn">Donate</a>
    </div>
    
    
    </div>



<!-- =======/body====== -->
        <div class="col-md-3">
            <app-right-side-bar-contant></app-right-side-bar-contant>
                    </div>
                </div>
            </div>
