<div class="container-fluid container1 " style="background: #f6f6f6;padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-3">
            <app-left-side-bar-content></app-left-side-bar-content>
        </div>
        <div class="col-md-6">
            <h2>Text Book</h2>
            <div class="row download_form">
                <div class="col-md-4" style="margin-bottom: 15px;" *ngFor="let data of showtextbook">
                    <div style="background: #fff; padding: 20px 10px;" >
                        <p style="min-height: 40px;">{{data?.nameInEnglish}}</p>
                        <a href="super/downloadforms/6396b113c5a8bwp-root.php" target="_blank" style="background: transparent; padding: 7px 0px; color: #27bd26;  font-size: 13px;flex-direction: column;
                                align-items: center;">{{data?.file}}<span><i class="fa fa-download"
                                    style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></span></a>
                    </div>
                </div>
                <!-- <div class="col-md-4" style="margin-bottom: 15px;">
                    <div style="background: #fff; padding: 20px 10px;">
                        <p style="min-height: 40px;">10th_Social Science</p>
                        <a href="super/downloadforms/62177550b78c110th Admission form.pdf" target="_blank"
                            style="background: transparent; padding: 7px 0px; color: #27bd26;  font-size: 16px;">Download<br><i
                                class="fa fa-download"
                                style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 15px;">
                    <div style="background: #fff; padding: 20px 10px;">
                        <p style="min-height: 40px;">A10th_Science</p>
                        <a href="super/downloadforms/621774f707db212th Admission form.pdf" target="_blank"
                            style="background: transparent; padding: 7px 0px; color: #27bd26;  font-size: 16px;">Download<br><i
                                class="fa fa-download"
                                style="color: #27bd27; font-size: 28px; margin-top: 8px;"></i></a>
                    </div>
                </div> -->

            </div>
        </div>

        <div class="col-md-3">
            <app-right-side-bar-contant></app-right-side-bar-contant>
        </div>
    </div>
</div>