
    <section class="container">	
        <div class="row">
        <div class="col-md-12 col-md-offset-1">
        <div class="row">	
        <div class="col-md-4  left_side" >	
        <h2>Head Office Contact</h2>
        <ul>	
                                            
            <li><img src="assets/images/contact_map.png" style="float: left; height: 25px;"><span style="font-size: 16px; color: #191919;
            font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; padding-left: 20px;float: left;">National Board of school Education<br>
                Village - Reshipora Athoora<br>
                P.O - Kreeri Tehsil - Kreeri<br>
                District - Baramulla<br>
                Jammu &amp; Kashmir - 193198</span></li>		
            <li><img src="assets/images/contact_call.png" style="float: left;height: 21px;"><span style="font-size: 16px; color: #191919;
            font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; padding-left: 20px;float: left;">+91-931-0800-092</span></li>		
            <li><img src="assets/images/contact_email.png" style="float: left; height: 15px;"><span style="font-size: 16px; color: #191919;
            font-family: 'Conv_FontsFree-Net-SFProDisplay-Regular'; padding-left: 20px;float: left;">info@nbse.in</span></li>
                </ul>
            </div>
            <div class="col-md-8">
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1156.875147047088!2d74.46663706912133!3d34.21071046167883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1a7647b87a5f9%3A0x19b2cd2fefd70113!2sNajar%20Saw%20Mills%20Athoora!5e1!3m2!1sen!2sin!4v1640335663502!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3299.464204160025!2d74.46465721521923!3d34.211163780562984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1a71181910e0d%3A0xc06ca0079cff35f2!2sNational%20Board%20of%20School%20Education!5e0!3m2!1sen!2sin!4v1646223082712!5m2!1sen!2sin" width="100%" height="400" style="border:0; padding-left: 15px;" allowfullscreen="" loading="lazy"></iframe>
            </div>		
            </div>
        </div>
        </div>
        </section>
    


